<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.uerj" android:versionCode="3" android:versionName="1.1.1">
	<uses-sdk android:minSdkVersion="7" />
	
	<application android:icon="@drawable/logorid"
		android:label="Aluno Mobile">	
		<activity android:name=".RidTabActivity" android:label="Aluno Mobile">
		</activity>
		<activity android:name=".HistoricoTabActivity" android:label="Aluno Mobile">	
		</activity>
		<activity android:name=".NotasTabActivity" android:label="Aluno Mobile">	
		</activity>
		<activity android:name=".DisciplinasTabActivity" android:label="Aluno Mobile">	
		</activity>
		<activity android:name=".RidPageActivity" android:label="Aluno Mobile">
		</activity>
		<activity android:name=".HistoricoPageActivity" android:label="Aluno Mobile">	
		</activity>
		<activity android:name=".NotasPageActivity" android:label="Aluno Mobile">	
		</activity>
		<activity android:name=".DiscplinasPageActivity" android:label="Aluno Mobile">	
		</activity>
		<activity android:name=".AboutActivity" android:label="Aluno Mobile">	
		</activity>
		<activity android:name=".RidMobileTab" android:label="Aluno Mobile"
			android:theme="@android:style/Theme.NoTitleBar">			  
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
	</application>
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
</manifest>